<table border="1" cellpadding="5" cellspacing="1" width="390">

	<tr>

		<td valign="bottom" width="49%" height="31"><p align="left">
				<font color="#800000"><b>STATE</b></font>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="31"><p
				align="left">
				<font color="#800000"><b>CAPITAL</b></font>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Andra Pradesh</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Hyderabad</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Arunachal Pradesh</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Itangar</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Assam</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Dispur</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Bihar</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Patna</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Chhattisgarh</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Raipur</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Goa</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Panaji</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Gujarat</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Gandhinagar</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Haryana</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Chandigarh</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Himachal Pradesh</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Shimla</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Jammu and Kashmir</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Srinagar and Jammu</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Jharkhand</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Ranchi</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Karnataka</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Bangalore</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Kerala</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Thiruvananthapuram</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Madya Pradesh</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Bhopal</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Maharashtra</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Mumbai</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Manipur</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Imphal</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Meghalaya</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Shillong</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Mizoram</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Aizawi</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Nagaland</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Kohima</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Orissa</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Bhubaneshwar</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Punjab</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Chandigarh</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Rajasthan</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Jaipur</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Sikkim</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Gangtok</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Tamil Nadu</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Chennai</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Tripura</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Agartala</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Uttaranchal</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Dehradun</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>Uttar Pradesh</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Lucknow</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" width="49%" height="30"><p align="left">
				<b>West Bengal</b>
			</p></td>

		<td valign="bottom" colspan="2" width="51%" height="30"><p
				align="left">
				<b>Kolkata</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="68"><hr>

				<p align="left">
					<font color="#800000"><b>Union Territories</b></font>
				</p></td>

		<td valign="bottom" width="44%" height="68"><hr>

				<p align="left">
					<font color="#800000"><b>Capital</b></font>
				</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Andaman and Nicobar Islands</b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Port Blair</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Chandigarh</b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Chandigarh</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Dadar and Nagar Haveli</b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Silvassa</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Daman and Diu</b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Daman</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Delhi </b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Delhi</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Lakshadeep</b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Kavaratti</b>
			</p></td>

	</tr>

	<tr>

		<td valign="bottom" colspan="2" width="56%" height="33"><p
				align="left">
				<b>Pondicherry</b>
			</p></td>

		<td valign="bottom" width="44%" height="33"><p align="left">
				<b>Pondicherry</b>
			</p></td>

	</tr>

</table>
