.gwpm-content-title {
	padding-top: 20px;
	text-transform: capitalize;
}

.gwpm-table td {
	min-width: 180px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	border: none;
	vertical-align: top;
}

.gwpm-table table {
	border-bottom: none;
	min-width: 100px;
}

.gwpm-table table td {
	min-width: 100px;
}

.gwpm-table select,input,textarea,file {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
	color: #888888;
	width: 14em;
}

.gwpm_profile_pic_holder {
	text-align: center;
	vertical-align: top;
	margin-top: 12px;
}

.gwpm-table input {
	min-height: 4px;
}

.gwpm-table select {
	min-height: 4px;
	padding: .15em;
	font-family: Verdana, Helvetica, sans-serif;
}

.gwpm-conversation-result .gwpm-user-id {
	min-width: 100px;
}

.gwpm-conversation-result .gwpm-created-date {
	min-width: 160px;
}

.gwpm_hidden_fields {
	display: none;
	visibility: hidden;
}

.gwpm_profile_link {
	padding: 3px;
}

.gwpm_email {
	max-width: 150px;
}

.gwpm_wrap_text {
	display: block;
	word-wrap: break-word;
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word; /* IE 5+ */
}

.gwpm-button {
	border-color: #13455B;
	border: 1px solid #AAAAAA;
	font-weight: bold;
	width: 130px;
	margin: 1em;
	padding: .15em;
}

.gwpm-menu {
	width: 100%;
	text-align: center;
	padding-bottom: 5px;
}

.gwpm-menu ul {
	width: 100%;
	list-style: none;
}

.gwpm-menu ul li {
	float: left;
	position: relative;
	list-style: none;
	padding-left: .8em;
	font-weight: bold;
}

.gwpm-menu ul li a {
	text-decoration: none;
}

.edit-mode {
	width: 100%;
	text-align: right;
	background: green;
	font-weight: bold;
}

.edit-mode-link {
	color: black;
	text-decoration: underline;
}

.edit-mode-value {
	font-weight: bold;
	font: 200;
}

.gwpm-sec-info {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
}

.gwpm-mandatory {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: red;
	/* 	padding-left: 2px; */
}

.gwpm_dynamic_content_holder td {
	vertical-align: middle;
}

#gwpm_resultBox {
	width: 100%;
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: green;
	padding: 10px;
}

.gwpm-thumb-image {
	width: 150px;
	/* 	height: 150px; */
}

#dynaControlBox {
	text-align: right;
}

.gwpm-help {
	font-size: 11px;
	color: #006600;
}

/* css for lighbox gallery  */

/* jQuery lightBox plugin - Gallery style */
#gwpm-gallery {
	background-color: #fff;
	padding: 10px;
	width: 100%;
}

#gwpm-gallery ul {
	list-style: none;
}

#gwpm-gallery ul li {
	display: inline;
}

#gwpm-gallery ul img {
	border: 1px solid #3e3e3e;
	border-width: 1px 1px 2px;
	width: 80px;
	height: 80px;
}

#gwpm-gallery ul a:hover img {
	border: 5px solid #444;
	border-width: 5px 5px 10px;
	color: #444;
}

#gwpm-gallery ul a:hover {
	color: #444;
}


/* Search results */

.gwpm-search-result td {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	border: none;
	vertical-align: top;
}

.gwpm-search-result th {
	border-bottom: 1px solid ;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui_tpicker_hour_label {
	font-size: 80%;
}

.ui_tpicker_minute_label {
	font-size: 80%;
}